@import url('https://fonts.googleapis.com/css2?family=Poppins&family=Rubik&display=swap');

        * {
            margin: 0;
            padding: 0;
            font-family: 'Poppins', sans-serif;
        }

        body {
            background-color: #2b7a78;
        }

        .headingTag {
            text-align: center;
            padding: 1.5rem;
            background-color: #17252A;
            color: white;
            border: 1px solid black;
        }

        .balloonClass, .redballoonClass {
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 100%;
            background-color: white;
            animation-name: ballonFly;
            animation-duration: 7s;
            animation-fill-mode: forwards;
            text-align: center;
        }

        .redballoonClass{
            background-color: red;
            width: 50px;
            height: 50px;
            z-index: 5;
            /* background-image: radial-gradient(farthest-side at 25% 25%, rgb(191, 70, 70), red); */
        }

        #balloonsPoppedCount, #redballoonsPoppedCount {
            position: absolute;
            top: 7.8rem;
            right: 2rem;
            height: 5rem;
            width: 6.75rem;
            background-color: white;
            text-align: center !important;
            color: black;
            font-size: 2em;
            font-weight: bold;
            border: 1px solid #17252A;
        }

        #redballoonsPoppedCount{
            top: 15rem;
            height: 6.2rem;
            width: 7rem;
            color: black;
        }

        .heading-PopCount, .heading-redPopCount {
            font-size: 1rem;
            width: 100%;
            background-color: #17252A;
            color: white;
            font-weight: bold;
        }

        #startButton, #restartButton {
            position: absolute;
            width: 6rem;
            height: 2.5rem;
            font-weight: bold;
            font-size: large;
            background-color: white;
            color: black;
            cursor: pointer;
            top: 25rem;
            left: 44rem;
        }

        #restartButton{
            padding: 0.25rem;
            top: 28.5rem;
            left: 46rem;
            width: 3rem;
            display: none;
            background: none;
            border: none;
        }

        @keyframes ballonFly {
            from {
                top: 700px;
            }

            to {
                top: -200px;
            }
        }

        #winMessage, #loseMessage{
            font-size: 15px;
            color: white;
            text-align:center;
            padding: 12rem;
            /* display: none; */
            z-index: 2;
        }

        #instructions{
            position: absolute;
            top: 30rem;
            left: 31rem;
            font-size: 1.2rem;
            color: white;
            text-align: center;
        }